.hello{
    height: auto;
    width: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 18pt;
    color: green;
}

.bg{
    background-image: url(Sea.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.bg .water{
    background-image: url(Sea-mask.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: url("#turbulence");

}

body,html{
    height: 100%;
}